* {
  padding: 0;
  margin: 0;
  
}

.topnav {
  background: rgb(72, 1, 1);
  
}

/* .nav {
  color: white;
  background-color: black;
} */

form.search {
    overflow: auto;
    margin-bottom: 10px;
  }
  
  form.search button[type="submit"] {
    float: right;
    margin-top: 10px;
  }


  #map {
    height: 400px;
    width: 100%;
    position: center;
}

.map-container {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  border-bottom: black;
  margin: auto;
  border-radius: 10px;
}

.list {
  height:500px;
  overflow:scroll;
  overflow-x:hidden;
}
.card-title {
  background-color: rgb(255, 255, 255);
  color: rgb(51, 4, 4);
  font-size: 20px;;
}

.jumbotron {
  /* padding: 0; 
  margin: 2rem; */
   background-color: rgb(255, 255, 255);
  border-radius: .3rem;
  position: center;
  margin: 10px;
}

