/* form.search {
  width: 200px;
  margin-bottom: 10px;
} */

/* form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
} */

.search-form {
  margin-top: 30px;
  text-align: center;
}
.input-group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  
  width: 50%;
}

.btn:hover {
  background-color: #ffffff;
  color: rgb(74, 6, 6) ;
}

.btn btn-outline:active:focus {
  color: #ffffff; 
  background-color: #060674; 
  border-color: #494F57;
}