nav {
    color: rgb(255, 255, 255);
    background-color: rgb(56, 20, 20);
    width: 100%;
    height: 56px;
    line-height: 56px;
    position: fixed;
}

/* .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    /* top: 0; /* Position the navbar at the top of the page */
    /* width: 100%; /* Full width */
 

.navbar .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
    font-size: 25px;
    
    
}

.navbar {
    overflow: hidden; 
    background-color: rgb(27, 0, 0);
}
/* .navbar.navbar-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
     overflow: hidden;
} */

.navbar a {
    float: left;
    display: inline-flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    
  }

a {
    color: rgb(56, 20, 20);
    text-decoration: none;
    /* background-color: rgba(0, 0, 0, 0); */
}

.navbar a:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(39, 1, 1);
  }