form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}


#bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}





.border {
  border: none;
}


#link {
  cursor:pointer;
	color: rgb(181, 182, 183);
  text-decoration: none;
	font-family:Arial;
	font-size: 15px;

}

#link:hover {
  color: #ffffff;

  
}