/* 

  .carousel {
    
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100%;
    overflow:visible;
    background-color: black;
}
.carousel .carousel-inner {
    height:100%;    
}

h1 {
  color: rgb(27, 0, 0);
  text-emphasis-style: bold;
}

p {
  color: rgb(27, 0, 0);
  text-emphasis: bold;
}

.btn {
  margin: 10px;
  background-color:rgb(27, 0, 0);
  color: white;
} */

 



  /* img {
    -webkit-transition: -webkit-transform 0.4s; /* Safari */
    /* transition: transform 0.4s;
  } */

  /* img:hover {
    -webkit-transform: scale(1.02); /* Safari */
    /* transform: scale(1.02);
  } */



  #intro {
    height: 100%;
  }
  
  #intro {
    background: url("https://images.unsplash.com/photo-1547146598-0962d0d87c97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  #background {
    height: 1000px;
  }
