

  .carousel {
    
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100%;
    overflow:visible;
    background-color: black;
}
.carousel .carousel-inner {
    height:100%;    
}

h1 {
  color: rgb(27, 0, 0);
  text-emphasis-style: bold;
}

p {
  color: rgb(27, 0, 0);
  text-emphasis: bold;
}

.btn {
  margin: 10px;
  background-color:rgb(27, 0, 0);
  color: white;
}

  .welcome {
    text-align: center;
    margin: auto;
    margin: 10px;
    background: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}



  img {
    -webkit-transition: -webkit-transform 0.4s; /* Safari */
    transition: transform 0.4s;
  }
  img:hover {
    -webkit-transform: scale(1.02); /* Safari */
    transform: scale(1.02);
  }



