form.search {
  overflow: auto;
  margin-bottom: 10px;
}

form.search button[type="submit"] {
  float: right;
  margin-top: 10px;
}

.button {
  /* display: flex; */
  justify-content: right;
  margin: 7px 15px 5px;
  position: relative;
}